
.vs/leandrofonseca-ti/FileContentIndex/012ff157-561c-4425-a983-ab9c40221804.vsidx
.vs/leandrofonseca-ti/FileContentIndex/1e5a8a3c-6191-444e-88df-7eee784c625a.vsidx
.vs/leandrofonseca-ti/FileContentIndex/901da2e4-82b0-4532-a1ed-1c0d5c7c8112.vsidx
.vs/leandrofonseca-ti/FileContentIndex/a6ea3678-768e-4306-a6b0-d8cee07a9761.vsidx
.vs/leandrofonseca-ti/FileContentIndex/aaf67f91-5df6-4756-b0e3-fab5ff17f2eb.vsidx
.vs/leandrofonseca-ti/FileContentIndex/47b1a59d-5ace-49ee-a486-f9677aa0b569.vsidx
.vs/leandrofonseca-ti/FileContentIndex/03ed75c4-e729-469d-a911-7714ebe26573.vsidx
.vs/leandrofonseca-ti/FileContentIndex/09d33211-bc1d-4048-a31a-03d592f8ee20.vsidx
.vs/slnx.sqlite
.vs/leandrofonseca-ti/FileContentIndex/e5055e56-3dae-4ecb-8e31-ac1a0eefdf57.vsidx
.vs/leandrofonseca-ti/FileContentIndex/5daa0b1c-9dbc-4853-8405-f8c2d0b998da.vsidx
.vs/leandrofonseca-ti/FileContentIndex/15b91bdb-114c-48bd-897e-b16405d5aa76.vsidx
